# IDE配置
.idea/
.VS/
.vsconfig
ProjectSettings/
Library/

# python环境
venv/

# 编译产物与缓存
__pycache__/
*.pyc
obj/
Build/
Logs/

# 用户数据与依赖
SavedJsons/sampled_standard_frames/
Packages/
old/

# 系统文件
.DS_Store
Thumbs.db

# Unity相关（根据项目调整）
# Assets/  # 若需版本控制则移除此规则
Temp/

# 垃圾箱
display/
**/json2predd.py

# 标准视频生成的帧文件和 JSON 文件
StdProcess/**
# 标准视频生成脚本
!StdProcess/StandardGenerate.py

TODO

